/* p.error{
    color: red;
}
p.success{
    color: rgb(0, 202, 0)
}
p.success.feedback{
    border: 1px dashed rgb(0, 202, 0);
}
#content{
    background-color: #ebebeb;
    padding: 20px;
} */
/* div .error{
    color: red;
} */
/* a[href*="google"]{
    background-color: #3dd13d;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */
div{
    color: lightcoral;
    border: 1px solid gray;
    margin: 40px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color: orange;
}