* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    margin: 0;
    margin-top: 0;
    padding: 0;
    font-family: arial;
    background-color: #eeee;
}
h2{
    color: #5236AB;
}
header{
    position: sticky;
    margin-top: 0;
    top: 0px;
    max-width: 100%;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ffff;
    font-size: 28px;
    border-bottom: 2px solid #0e0e0e;
    z-index: 1;
}
header .CGIheader{
    text-align: left;
}
.normheader{
    text-align: right;
}
.studentsection{
    padding: 40px;
    background-color: #e9e9e9;
}
.studentapplyform{
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 30px;
    left: 20px;
}
input[type=text], select {
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.PortalBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stdPortalTextBox{
    text-align: left;
    width: 50%;
    padding: 20px;
    padding-left: 60px;
    margin: 20px auto;
}
.stdPortalImage{
    width: 50%;
}
.stdPortalImage img{
    max-width: 100%;
    height: auto;
    display: block;
    float: right;
}

.hrPortalImage{
    width:50%;
}
.hrPortalImage img{
    max-width:100%;
    height: auto;
    display: block;
    float: left;
}
.hrPortalTextBox{
    text-align: right;
    width: 50%;
    padding: 20px;
    padding-right: 60px;
    margin: 20px auto;
}

.Link{
    background-color: #ffff;
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 3px solid black;
    border-radius: 28px;
}

.stdContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stdContainer div{
    display: block;
    width: 50%;
    text-align: center;
    margin: 80px;
    margin-top: 30px;
    padding: 20px;
}

.searchDiv{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 80%;
    padding: 30px;
    left: 20px;
}

#applicantsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#applicantsTable td, #applicantsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#applicantsTable tr:nth-child(even){background-color: #f2f2f2;}

#applicantsTable tr:hover {background-color: #ddd;}

#applicantsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
